<button class="btn btn-primary" ui-sref="search">Back to search</button>
<div >

    <ui-gmap-google-map
            center='map.center'
            zoom='map.zoom'
            events="map.events"
            draggable="map.draggable"
            options="options"
            control="map.control"
            pan="true">
        <ui-gmap-window coords="selectedCoords" show="windowOptions.show"  closeclick="closeClick()">
            <div>{{info}}</div>
        </ui-gmap-window>
        <ui-gmap-markers models="markers" coords="'coords'" idKey="markers.id" click="onMarkerClick" events="markersEvents" fit="false">
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>